footer,footer a{
	color:#555555;
	font-size:.95rem;
	
}
footer{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	padding:4px;
	border-top:solid 1px #555555;
	margin-top:12px;
}


footer div a{
	display:inline-block;
	margin-right:10px;
}
.copyright{
	text-align:right;
	width:320px;
}
